.two-col-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.two-col-grid > div {
  flex: 1 0 50%;
  text-align: center;
  padding: 1em;
}

ul#countdown {
  display: flex;
  color: #000;
  border: 1px solid #2F2F30;
  border-width: 1px 0;
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

ul#countdown li {
  margin: 0 -3px 0 0;
  padding: 0;
  display: inline-block;
  width: 25%;
  font-size: 72px;
  font-size: 6vw;
  text-align: center;
}

ul#countdown li .label {
  color: #2F2F30;
  font-size: 18px;
  font-size: 1.5vw;
  text-transform: uppercase;
}
ul#countdown li .number {
  line-height: 1;
}

ul.members {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0;
}

ul.members > li {
  flex: 0 0 25%;
  padding: 1em;
  list-style-type: none;
  text-align: center;
}

ul.members > li img {
  border-radius: 50%
}