<section class="page-header">
    <h1 class="project-name">
        <img class="header-title" src="{{ site.baseurl }}/images/robaso_logo.png"></img>
    </h1>
    <a href="{{ site.github.public_repositories[1].html_url }}" class="btn">
        <i class="fa fa-github"></i>
        View on GitHub
    </a>
    <a href="https://drive.google.com/open?id=0B1Hda1-D_kWZTm9pUXdfNk5tdDQ" class="btn">
        <i class="fa fa-book"></i>        
        View on Documents
    </a>
    <a href="{{ site.baseurl }}/feed.xml" class="btn">
        <i class="fa fa-rss"></i>
        Subscribe
    </a>
</section>